

body{
  background-color: rgb(231, 244, 236);
}

nav{
  margin-bottom: 20px;
    background-color: mediumaquamarine;
    color: #7e17a7;
    padding: 15px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: rgb(247, 9, 219);
  font-weight: bold;
}
a:hover{
  color: rgba(236, 111, 2, 0.949);
}
h1{
  text-align: center;
  color: #e65005;
}
h3{
  color: darkslateblue;
  margin-left: 20px;
}
p{
  font-size: 18px;
  margin-left: 20px;
  color: coral;
}