nav{
  background-color: limegreen;
  padding: 15px;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover{
  color: rgba(236, 111, 2, 0.949);
}
