.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0cccc;
}


.login-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff9f9;

}
.details{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: black;
}
.login-button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.Restaurant {   
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.restaurant-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}