
.student {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  font-size: 2em;
  background-color: #f9f9f9;
}

.btn {
  margin-top: 12px;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(232, 122, 180);
}

.Box{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}